In [1]:
#list can contains data of various type like int,float,character,mixed data type etc

In [12]:
List=["Jatin","Sachin",'Rakesh',"Ramesh"]
for i in range(len(List)):
    print("Index ",i,'and',i-len(List),List[i])

Index  0 and -4 Jatin
Index  1 and -3 Sachin
Index  2 and -2 Rakesh
Index  3 and -1 Ramesh

In [13]:
#Compare list <,<=,>,>=,++,!=

In [14]:
l1=[1,2,3,5]
l2=[1,2,3,4]

In [16]:
l1>l2

True

In [18]:
l1==l2 #compare one by one

False

In [21]:
l1=["anu"] #comaparision done on basis ascii value
l2=["and"]  #should od same type

In [22]:
l1<l2

False

In [23]:
#list operations

In [25]:
l3=l1+l2

In [26]:
l3

['anu', 'and']

In [31]:
l3+"4" #combine only lists

TypeError: can only concatenate list (not "str") to list

In [32]:
l3+[3]

['anu', 'and', 3]

In [33]:
#list+list is valid only

In [34]:
l3*4

['anu', 'and', 'anu', 'and', 'anu', 'and', 'anu', 'and']

In [36]:
#list*integer is valid only in replication

In [38]:
l3*[1,24] #error

TypeError: can't multiply sequence by non-int of type 'list'

In [39]:
#List slicing

In [40]:
#List[start:stop] ,last value does not include

In [41]:
l=[22,3,4,2,2,5]

In [44]:
l[2:-1] #last value is not included,retrive values at 2,3,4

[4, 2, 2]

In [47]:
l[0]=234 # modify list

In [48]:
l

[234, 3, 4, 2, 2, 5]

In [52]:
#l[30] index error ,l[1:30] not retrun error

In [53]:
l[1:30]

[3, 4, 2, 2, 5]

In [54]:
#l[10,30] not error only empty list

In [55]:
#seq=list[start:stop,stepsize]

In [57]:
l=[1,2,3,4,5,6,7,8,8,9,4,4,6,6,87,4,43]

In [58]:
l[1:12:2]

[2, 4, 6, 8, 9, 4]

In [59]:
l[:12:3]

[1, 4, 7, 9]

In [60]:
l[::4]

[1, 5, 8, 6, 43]

In [62]:
l[::-1] #reverse a list

[43, 4, 87, 6, 6, 4, 4, 9, 8, 8, 7, 6, 5, 4, 3, 2, 1]

In [2]:
L=[1,2,3]

In [3]:
len(L)

3

In [10]:
L=[1,2,[1,2,[1,2]],[1,2,3,4],2,3,45]

In [11]:
len(L)

7

In [16]:
L[2][2][1]

2

In [17]:
s="Jatin"

In [18]:
s=list(s)

In [19]:
type(s)

list

In [20]:
s

['J', 'a', 't', 'i', 'n']

In [21]:
dictionary={1:'one',2:'two',3:"three"}

In [23]:
d=list(dictionary)

In [24]:
d

[1, 2, 3]

In [25]:
L

[1, 2, [1, 2, [1, 2]], [1, 2, 3, 4], 2, 3, 45]

In [26]:
L=[22,33,22,44,22]

In [28]:
L.index(22) #return index of first occurance

0

In [30]:
L.index(88) #show error

ValueError: 88 is not in list

In [31]:
#list.append add data to end of list one data addeds at once

In [38]:
L.append(88) #not retun any value

In [39]:
L

[22, 33, 22, 44, 22, 88, [10, 20], [10, 20], 88]

In [40]:
L.append([10,20]) #this is one element be catious

In [42]:
L #L.append([10,20]) we excecute 3 times here

[22, 33, 22, 44, 22, 88, [10, 20], [10, 20], 88, [10, 20]]

In [44]:
L.append(19,11) #only one element is allowed

TypeError: append() takes exactly one argument (2 given)

In [45]:
#List.extend(elements) can add multiple elements at the end

In [46]:
L=[11,1,3,4,5]

In [50]:
L.extend([10,10]) #note here in list this list [10,10] will be added as single element in the list but 
#in extend it treated as diiferent two elements i.e 10 and 10 let us see below

In [52]:
L #above statement executed two times

[11, 1, 3, 4, 5, 10, 10, 10, 10, 10, 10]

In [53]:
#list.insert()  add elements at elements at any position append()
#and extend add element at the end of list

In [54]:
#List.insert(index_position,element)

In [55]:
L

[11, 1, 3, 4, 5, 10, 10, 10, 10, 10, 10]

In [56]:
L.insert(0,111)

In [57]:
L

[111, 11, 1, 3, 4, 5, 10, 10, 10, 10, 10, 10]

In [58]:
L.insert(-20,4)

In [61]:
L # as index -20 is not there so it add to end of -ve indexing
#similarly for +ve indexing

[4, 111, 11, 1, 3, 4, 5, 10, 10, 10, 10, 10, 10]

In [63]:
#List.pop()  # remove element based upon index
#if no index provided it remove last element and also return removed element

In [64]:
L

[4, 111, 11, 1, 3, 4, 5, 10, 10, 10, 10, 10, 10]

In [65]:
L.pop(0)

4

In [66]:
L.pop()

10

In [67]:
L

[111, 11, 1, 3, 4, 5, 10, 10, 10, 10, 10]

In [69]:
L.pop(56) #show error index out of range

IndexError: pop index out of range

In [73]:
#list.remove() remove the element by element  in case we dont know index
#dont return removed element

In [74]:
L

[111, 11, 1, 3, 4, 5, 10, 10, 10, 10, 10]

In [75]:
L.remove(111)

In [76]:
L

[11, 1, 3, 4, 5, 10, 10, 10, 10, 10]

In [77]:
#List.clear() remove all element from list and become empty

In [78]:
L.clear()

In [79]:
L

[]

In [82]:
#del statement remove multiple elements also slicing can delete 
#entire list

In [83]:
#syntax: del List[<index>]
#del List

In [85]:
L=[1,2,3,4,5,6,76]

In [86]:
L

[1, 2, 3, 4, 5, 6, 76]

In [87]:
del L[2]

In [88]:
L

[1, 2, 4, 5, 6, 76]

In [89]:
del L[3:]

In [90]:
L

[1, 2, 4]

In [91]:
del L

In [94]:
L # show error because list is deleted

NameError: name 'L' is not defined

In [95]:
#List.count() count number of time elements occurs in list

In [97]:
L=[1,2,3,4,45,2,1,2,3]

In [98]:
L.count(1)

2

In [99]:
#List.reverse() it reverse the list

In [100]:
L

[1, 2, 3, 4, 45, 2, 1, 2, 3]

In [101]:
L.reverse()

In [102]:
L

[3, 2, 1, 2, 45, 4, 3, 2, 1]

In [104]:
L[::-1] #after reverse location is same

[1, 2, 3, 4, 45, 2, 1, 2, 3]

In [105]:
#List.sort() sort items by default in increasing order in orignal list

In [106]:
L

[3, 2, 1, 2, 45, 4, 3, 2, 1]

In [107]:
L.sort()

In [108]:
L

[1, 1, 2, 2, 2, 3, 3, 4, 45]

In [120]:
L.sort(reverse=True) #see below sorted return list i.e it dont done on orignal location of list whereas sort do changes in orignal location

In [121]:
L

[62, 4, 4, 3, 2, 1]

In [122]:
#List.sorted() it sort the list but not in orignal string butu it 
#return sorted list

In [123]:
L=[1,2,4,62,3,4]

In [124]:
sorted(L)

[1, 2, 3, 4, 4, 62]

In [125]:
#min(list)--->give minimum elements
#max(list)---.give max element
#sum(list)----sum of all elements of list

In [126]:
min(L)

1

In [127]:
max(L)

62

In [129]:
sum(L)

76

In [130]:
#in case of character based of ASCII value it give result in case of min max sum

In [131]:
L=["a","b","z"]

In [132]:
min(L)

'a'

In [133]:
max(L)

'z'

In [135]:
sum(L) #sum is not possible in case of character

TypeError: unsupported operand type(s) for +: 'int' and 'str'